extends layout

block content
  section.item-detail-page
    .detail-card
      .detail-left
        .image-placeholder Item Image

      .detail-right
        h2= item.title

        p
          strong Category:
          |  #{item.category_name || 'N/A'}

        p
          strong Availability:
          |  #{item.availability || 'N/A'}

        p
          strong Status:
          |  #{item.status || 'N/A'}

        p
          strong Description:
          |  #{item.description || 'No description available'}

        p
          strong Owner:
          |  #{item.owner_name || 'N/A'}

        p
          strong Owner Email:
          |  #{item.owner_email || 'N/A'}

        button.btn(type='button') Request Item

    a.back-link(href='/listings') ← Back to Listings