extends layout

block content
  h1.page-title Users List
  p.page-subtitle Eco Share registered users

  if users.length > 0
    .user-grid
      each user in users
        .card
          h2 #{user.name}

          .info-row
            strong Email:
            |  #{user.email}

          .info-row
            strong Role:
            |  #{user.role}

          .info-row
            strong Joined:
            |  #{new Date(user.created_at).toDateString()}

          a.button(href=`/users/${user.user_id}`) View Profile
  else
    .card
      p No users found